* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

main, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* background: linear-gradient(to left, rgba(10, 0, 30, 1), rgba(30, 10, 60, 1)); */
}

main {
  width: 100vw;
  padding-left: 15vw;
  padding-right: 20vw;
}

body {
  background: linear-gradient(to right, rgba(10, 0, 30, 1), rgba(30, 10, 60, 1));
  width: 100vw;
  height: 100svh;
}

@media (max-width: 768px) {
  main {
    padding-left: 10vw;
    padding-right: 15vw;
  }
}

@media (max-width: 480px) {
  main {
      padding-left: 5vw;
      padding-right: 10vw;
  }
}